
body,html {
    background-color:lavender;
}
header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
    background-color: #bb8e8e; 
    color: white;
  }

.topic{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 167, 219);
}
.sidebar{
    background-color: rgb(175, 200, 243);
    width:fit-content ;
}
.content{
    display: flex; 
    flex-direction:row; 
    justify-content: space-between;
    text-align: center;
    
    

}


.pictures {
    display: flex;
    justify-content: space-between;
    padding: 20px; 
}

.pictures img {
    width: 100px; 
    height: auto;
    object-fit: cover; 
    margin: 10px; 
}
